.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.Indigo {
    background-color: Indigo;
}

.AntiqueWhite {
    background-color: AntiqueWhite;
}

.Aqua {
    background-color: Aqua;
}

.Aquamarine {
    background-color: Aquamarine;
}

.Azure {
    background-color: Azure;
}

.LimeGreen {
    background-color: LimeGreen;
}

.Magenta {
    background-color: Magenta;
}

.Brown {
    background-color: Brown;
}

.BlueViolet {
    background-color: BlueViolet;
}

.BlanchedAlmond {
    background-color: BlanchedAlmond;
}

.DarkKhaki {
    background-color: DarkKhaki;
}

.Tomato {
    background-color: Tomato;
}

.DarkGreen {
    background-color: DarkGreen;
}

.DarkGray {
    background-color: DarkGray;
}

.DarkGoldenRod {
    background-color: DarkGoldenRod;
}

.DarkCyan {
    background-color: DarkCyan;
}

.PowderBlue {
    background-color: PowderBlue;
}

.Cyan {
    background-color: Cyan;
}

.Crimson {
    background-color: Crimson;
}

.Cornsilk {
    background-color: Cornsilk;
}

.CornflowerBlue {
    background-color: CornflowerBlue;
}

.Coral {
    background-color: Coral;
}

.Chocolate {
    background-color: Chocolate;
}

.CadetBlue {
    background-color: CadetBlue;
}

.CadetBlue {
    background-color: CadetBlue;
}

.DarkKhaki {
    background-color: DarkKhaki;
}

.DarkKhaki {
    background-color: DarkKhaki;
}

.DarkOrange {
    background-color: DarkOrange;
}

.SpringGreen {
    background-color: SpringGreen;
}

.DarkSalmon {
    background-color: DarkSalmon;
}

.DarkSeaGreen {
    background-color: DarkSeaGreen;
}

.DarkSlateBlue {
    background-color: DarkSlateBlue;
}

.Olive {
    background-color: Olive;
}

.DeepPink {
    background-color: DeepPink;
}

.RosyBrown {
    background-color: RosyBrown;
}

.Wheat {
    background-color: #F5DEB3;
}